<h1>Pokedex</h1>

<div class="container">
  <form (ngSubmit)="save()" [formGroup]="form" class="form">
    <label for="name"
      >Nome
      <input type="text" name="name" formControlName="name" />
    </label>
    <label for="image"
      >Image
      <input type="text" name="image" formControlName="image" />
    </label>

    <button type="submit" [disabled]="form.invalid">Capturar</button>
  </form>

  <div *ngIf="error" class="error">{{ error }}</div>
</div>

<h3>Pokemons Capturados</h3>

<div class="container">
  <ul class="cards">
    <span *ngIf="pokemons.length === 0">Ainda não capturou nenhum pokemon</span>
    <li *ngFor="let pokemon of pokemons">
      <app-card [name]="pokemon.name" [image]="pokemon.image" [id]="pokemon.id"></app-card>
    </li>
  </ul>
</div>
